* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 94%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

main {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5em;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  border-radius: 3%;
  border-bottom-right-radius: 35%;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgb(21, 21, 21), -2px -2px 10px rgb(21, 21, 21);
}

@media only screen and (max-width: 675px) {
  main {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5em;
    width: 90%;
    max-width: 600px;
    min-height: 60%;
    border-radius: 3%;
    border-bottom-right-radius: 35%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgb(21, 21, 21), -2px -2px 10px rgb(21, 21, 21);
  }
}
header h1 {
  text-align: center;
  color: hsl(259, 100%, 65%);
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  text-shadow: 1px 1px 1px black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 80%;
}

.flex-container > div {
  width: 30%;
  margin: 1.5%;
}

.flex-container > div > input {
  padding: 0.5em;
  margin: 0.4em 0;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
  padding: 0.8em;
  width: 100%;
  font-size: 1em;
  font-weight: 800;
}

.flex-container > div > label {
  color: hsl(0, 1%, 44%);
  font-size: 0.7em;
  font-weight: 600;
}

.flex-container > div > .span {
  font-size: 0.7em;
  text-align: center;
}

.submit-container {
  position: relative;
  padding: 1em;
  margin: 2em 0;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  border: none;
  position: absolute;
  left: 40%;
  top: -20%;
}

img {
  width: 50%;
}

@media only screen and (min-width: 675px) {
  button {
    left: 85%;
  }

  .flex-container {
    margin: 0;
  }
}

@media only screen and (max-width: 675px) {
  .flex-container {
    margin: 0 auto;
  }
}

.result-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-container > div {
  padding: 0;
  display: flex;
}

.result-container > div h1 {
  font-size: 4em;
  margin: 0;
}

.result-container > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(259, 100%, 65%);
  font-size: 3em;
}

.result-container > div > div > span {
  width: 30px;
  max-width: 40%;
  height: 20%;
  max-height: 10px;
  margin: 10%;
  margin-top: 20%;
  background-color: hsl(259, 100%, 65%);
}

@media only screen and (max-width: 675px) {
  .result-container > div h1 {
    font-size: 2em;
    margin: 0;
  }

  .result-container > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(259, 100%, 65%);
    font-size: 1.5em;
  }
}
